<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WIFISniffer-Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC319EDF1D82A9B5001874F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC319EF21D82A9B5001874F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC319EFD1D82A9B5001874F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
